$duration-default: 500ms;
$ease-default: ease-in-out;

$timing-values: (
        300: 300ms,
        500: 500ms,
        700: 700ms
);

$delay-values: (
        100: 100ms,
        200: 200ms,
        300: 300ms
);
